<h2> Get Your Property Listed </h2>
	<form class ="form-inline" method=post action=/properties/create>
		<input class="form-control" type=text placeholder="Username" name="property[property_name]"><br>
		<input class="form-control" type=text placeholder="Username" name="property[property_address]"><br>
		<input class="form-control" type=text placeholder="Email" name="property[property_description]"><br>
		<input class ="form-control" type=password placeholder="Password" name="property[property_rent_price]"></br>
		<button type="submit" class="btn btn-warning btn-lg">Sign Up</button>
	</form>
